@charset "UTF-8";

@font-face {
	font-family: 'Barlow Semi Condensed';
	src: url('font/BarlowSemiCondensed-Regular.ttf');
}

@font-face {
	font-family: 'Barlow Semi Condensed Bold';
	src: url('font/BarlowSemiCondensed-Bold.ttf');
}

body {
	font-family: "Barlow Semi Condensed", sans-serif;
	color: white;
	background-color: #000000;
	width: 880px;
	margin: 0 auto;
	font-size: 20px;
}

a:link {
	color: #FF00EE;
}

a:visited {
	color: #8A0081;
}

#heading {
	background-image: url("imgs/melmonlogo.png");
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-bottom: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	padding-bottom: 195px;
}

#nav {
	padding: 10px;
	border-bottom: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	text-align: center;
}

#nav a {
	color: #FFFFFF;
	text-decoration: none;
}

#nav span {
	font-size: 32px;
	font-family: "Barlow Semi Condensed Bold", sans-serif;
}

.actualContent {
	padding: 15px;
	border-bottom: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	background-color: black;
	color: white;
}

.footer {
	color: grey;
	text-align: center;
	border: 0px;
	font-size: 14px;
	padding: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.imgCentre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h4 {
    color: grey;
    text-transform: uppercase;
}

b {
	font-family: "Barlow Semi Condensed Bold", sans-serif;
}